name = "ReducedBasis"
uuid = "f18afe42-61d0-402c-a0bd-58c747008192"
authors = ["Michael F. Herbst <info@michael-herbst.com>", "Paul Brehmer <paul.brehmer@univie.ac.at>"]
version = "0.1.4"

[deps]
DFTK = "acf6eb54-70d9-11e9-0013-234b7a5f5337"
ITensors = "9136182c-28ba-11e9-034c-db9fb085ebd5"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
SuiteSparse = "4607b0f0-06f3-5cda-b6b1-a6196a1729e9"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[compat]
Aqua = "0.8"
DFTK = "0.6"
ITensors = "0.6"
LinearAlgebra = "1"
Printf = "1"
ProgressMeter = "1"
Random = "1"
SparseArrays = "1"
StaticArrays = "1"
SuiteSparse = "1"
Test = "1"
TimerOutputs = "0.5"
julia = "1.6"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Aqua"]
