examples/basis_analysis.ipynb
examples/basis_analysis.md
examples/multi_ad.ipynb
examples/multi_ad.md
examples/xxz_ed.ipynb
examples/xxz_ed.md
examples/xxz_dmrg.ipynb
examples/xxz_dmrg.md
examples/xxz_pod.ipynb
examples/xxz_pod.md
